doc/_build*
target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
*.gz
data/db/*
data/training
data/eval
data/embeddings
data/sequenceLabelling/CoNLL-2003/eng.*
data/sequenceLabelling/leMonde/*
data/sequenceLabelling/ftb6/*
data/sequenceLabelling/ontonotes/*
data/resources
data/clearNLP
data/models/ELMo/en/*.hdf5
data/models/ELMo/fr/*.hdf5
logs
*__pycache__*
data/models/ELMo/en/cache
data/models/ELMo/fr/cache
data/sequenceLabelling/CoNLL-2012-NER/eng.*
env
dist
delft.egg-info
build
data/models/textClassification/citations/citations0/
data/textClassification/dataseer
data/models/textClassification/dataseer-*
grobidTest.py