doc/_build*
target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
*.gz
data/db
data/training
data/eval
data/embeddings
data/models/sequenceLabelling/insult/*.json
data/models/sequenceLabelling/insult/*.hdf5
data/models/sequenceLabelling/insult/*.pkl
data/models/sequenceLabelling/grobid/*.json
data/models/sequenceLabelling/grobid/*.hdf5
data/models/sequenceLabelling/grobid/*.pkl
data/models/textClassification/*/*.json
data/models/textClassification/*/*.hdf5
data/models/textClassification/*/*.pkl
data/sequenceLabelling/CoNLL-2003/eng.*
data/resources
data/clearNLP
logs
*__pycache__*
