doc/_build*
target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
data/db
data/training
data/eval
data/embeddings
data/models/sequenceLabelling
data/models/textClassification/
data/sequenceLabelling
data/textClassification
data/resources
data/clearNLP
logs
*__pycache__*
