numpy==1.26.4
regex
scikit-learn==1.6.1
tqdm>=4.66
unidecode==1.3.2
lmdb==2.1.1
truecase
requests>=2.20
pandas==2.2.3
transformers==4.48.0
torch==2.5.1
pytorch-crf>=0.7.2
sentencepiece
protobuf
blingfire2==0.2.1
accelerate>=0.20.3
Pillow
python-dotenv
