numpy==1.21.4
regex==2021.11.10 
scikit-learn==1.0.1
tqdm==4.62.3
tensorflow==2.7.0
tensorflow-text==2.7.3 
langdetect==1.0.9
textblob==0.17.1
h5py==3.6.0
unidecode==1.3.2
pydot==1.4.0
lmdb==1.2.1
truecase
requests
pandas
bert-for-tf2==0.14.9 
